html, body {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 650px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#wrapper {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#page {
    display: block;
    height: 100vh;
    margin-top: -100px;
    padding: 100px 0 50px;
    box-sizing: border-box;
}

#container {
    display: flex;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../banner.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

#color-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 140px;
    background: #154c70ad;
    z-index: -1;
    transition: all 0.3s;
}

#slider {
    display: flex;
    position: absolute;
    left: 100vw;
    width: 500vw;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, -0.25, 0.4, 1.2);
}

.screen {
    display: flex;
    text-align: center;
    flex: 1;
    max-width: 100vw;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
}

#intro {
    display: flex;
    width: 100%;
    align-items: center;
}

#intro h2 {
    flex: 6;
    margin: 0 30px;
    padding: 0;
    float: left;
    font: normal 30px/normal Verdana, Geneva, sans-serif;
    color: #ecf0f1;
}

#intro h2 span {
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
}

#intro h2 p {
    margin: 0;
    font-size: 15px;
    font-style: italic;
}

@media only screen and (max-width: 897px) {
    #intro h2 p {
        display: none;
    }
}

#intro div {
    flex: 4;
    padding: 0 30px 0 0;
}

#intro div button {
    position: relative;
    width: 335px;
    margin: 0;
    padding: 0;
    background: #e74c3c;
    border-radius: 15px;
    transition: all 0.3s;
}

#intro div button span {
    display: block;
    height: 100%;
    line-height: 80px;
    padding: 0 30px;
    float: left;
    border-right: 1px solid #c0392b;
    transition: all 0.3s;
}

#intro div button span:after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 25px;
    right: 33px;
    border-top: 4px solid #ecf0f1;
    border-right: 4px solid #ecf0f1;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s;
}

#intro div button:hover {
    background: #c0392b;
}

#intro div button:hover span {
    border-right: 1px solid #ecf0f1;
}

#intro div button:hover span:after {
    -moz-transform: rotate(45deg) scale(1.15);
    -webkit-transform: rotate(45deg) scale(1.15);
    transform: rotate(45deg) scale(1.15);
}

label {
    display: block;
    margin-bottom: 30px;
    font: normal 20px/normal Verdana, Geneva, sans-serif;
    color: #FFF;
}

button {
    display: inline-block;
    width: 45%;
    margin: 0 15px;
    height: 80px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
    color: #ecf0f1;
}

#transfer {
    background: #3498db;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
}

#transfer:hover {
    background: #2980b9;
    transform: scale(1.05, 1.05);
}

#credits {
    background: #34495e;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
}

#credits:hover {
    background: #2c3e50;
    transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 700px) {
    button {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    #transfer {
        margin-bottom: 15px;
    }
}

#controls {
    max-width: 500px;
    margin: 22px auto 0;
}

.arrow {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.arrow:after {
    content: '';
    display: inline-block;
    margin-top: 9px;
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.arrow:hover {
    background: #3498db;
    border-color: #3498db;
}

.arrow:hover span {
    color: #ffffff;
    border-color: #ffffff;
}

.arrow:hover:after {
    border-color: #ecf0f1;
}

.arrow span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font: normal 16px/normal Verdana, Geneva, sans-serif;
    color: #ffffff;
}

.right {
    float: right;
}

.right:after {
    margin-left: 51px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.right span {
    right: 36px;
    height: 38px;
    padding-right: 10px;
    line-height: 38px;
    border-right: 2px solid #fff;
}

.left {
    float: left;
}

.left:after {
    margin-right: 51px;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.left span {
    left: 36px;
    height: 38px;
    padding-left: 10px;
    line-height: 38px;
    border-left: 2px solid #fff;
}

#screen_4 {
    display: block;
    position: relative;
}

#screen_4 .page-container {
    max-width: 920px;
    margin: 0 auto;
    padding: 30px;
}

.class_group {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #777777;
}

.class {
    flex: 1;
    padding: 15px;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
    color: #3498db;
    background: #FFFFFF;
}

#from_class {
    border-right: 1px solid #777777;
}

.class p {
    font: normal 10px/normal Verdana, Geneva, sans-serif;
    color: #b0b0b0;
}

#class_search {
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #777777;
    outline: 0;
    margin: 0 0 30px;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
    color: #777777;
}

::-webkit-input-placeholder {
  color: #b0b0b0;
}
::-moz-placeholder {
  color: #b0b0b0;
}
:-ms-input-placeholder {
  color: #b0b0b0;
}
:-moz-placeholder {
  color: #b0b0b0;
}